# backend
backend/.env
backend/matsuripple.db
backend/uploads/
backend/env/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc

# frontend
frontend/node_modules/
frontend/dist/

# misc
.DS_Store

scripts/